VTC_PROJECT_ROOT=/hyperai/home/videotocamera
VTC_MEGASAM_ROOT=/hyperai/home/mega-sam
VTC_RUNTIME_ROOT=/hyperai/home/vtc-runtime
VTC_GPU=0
VTC_HOST=0.0.0.0
VTC_PORT=7860
VTC_MAX_UPLOAD_MB=200
VTC_MAX_DURATION_SECONDS=60
VTC_MIN_FRAMES=8
VTC_MAX_FRAMES=1000
VTC_MAX_WIDTH=3840
VTC_MAX_HEIGHT=2160
VTC_JOB_TIMEOUT_SECONDS=1800
VTC_RESULT_TTL_SECONDS=3600
VTC_MAX_RESULTS_MB=5000
VTC_QUEUE_MAX_SIZE=8
VTC_AUTH_USER=change-me
VTC_AUTH_PASSWORD=use-a-hyperai-secret
